################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cosmic Quest - Order and Chaos/Assets/SpaceSkies Free
/Cosmic Quest - Order and Chaos/Assets/Vast Outer Space
